* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#top-bar {
  background-color: #121212;
  color: #2196f3;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

#page-name,
#page-name:visited {
  position: fixed;
  font-size: 24px;
  flex-grow: 1;
  left: 47px;
  top: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #2196f3;
}

.fa-icon {
  position: fixed;
  left: 10px;
  border: none;
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  background-image: url("../icons/fav.png");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

#error-popup {
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  z-index: 9999;
  background-color: #dc3545;
  color: #fff;
}

#link-error {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#found-file {
  background-color: #535353;
  padding: 10px;
  position: absolute;
  top: 80px;
  left: 5%;
  width: 90%;
  height: fit-content;
  border: none;
  border-radius: 5px;
}

.file-preview {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.text-container {
  float: left;
  left: 60px;
  width: calc(100% - 200px);
  text-align: left;
}

#file-name {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #2196f3;
  text-align: left;
}

#file-delete-time {
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

#delete-button {
  box-sizing: border-box;
  position: relative;
  margin-top: 10px;
  border: none;
  background-color: #535353;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.fa-trash-alt {
  border: none;
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../icons/trash.png");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

#download-button {
  box-sizing: border-box;
  border: none;
  position: relative;
  margin-top: 10xp;
  background-color: #535353;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.fa-download-alt {
  border: none;
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url("../icons/download-button.png");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

@media only screen and (max-width: 682px) {
  .file-preview, #delete-button, #download-button {
    margin-top: 20px;
  }
}