* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#top-bar {
  background-color: #121212;
  color: #2196f3;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

#page-name,
#page-name:visited {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
  font-weight: bold;
  text-decoration: none;
  color: #2196f3;
}

#error-popup {
    top: 60px;
    right: 10px;
    display: block;
    position: absolute;
    background-color: #282828;
    border: 1px solid red;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    padding: 10px;
}

#link-error {
  color: red;
  top: 60px;
  text-align: center;
  padding-top: 5px;
}
