* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #535353;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

#top-bar {
  background-color: #121212;
  color: #2196f3;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
}

#sidebar {
  width: 250px;
  background-color: #282828;
  padding: 20px;
  padding-top: 0px;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  box-sizing: border-box;
}

#file-list {
  position: absolute;
  top: 60px;
  left: 250px;
  width: calc(100% - 250px);
  padding: 10px;
  padding-top: 0px;
  overflow: auto;
  height: calc(100% - 60px);
}

.col {
  float: left;
  width: calc((100%-250px) / 3);
  padding-left: 5px;
  padding-right: 5px;
  height: 90px;
}

.row {
  width: calc(100%-250px);
  border: none;
}

.file {
  background-color: #282828;
  border: none;
  border-radius: 10px;
  height: 80px;
}

.file-preview {
  float: left;
  padding: 10px;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
}

.text-container {
  float: left;
  left: 90px;
  width: calc(100% - 240px);
  text-align: left;
}

#file-name,
#file-name:visited {
  text-decoration: none;
  position: relative;
  top:20px ;
  color: #2196f3;
  text-align: left;
}

#file-delete-time {
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

#delete-button {
  box-sizing: border-box;
  float: right;
  border: none;
  background-color: #282828;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.fa-trash-alt {
  border: none;
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  background-image: url("../icons/trash.png");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

#download-button {
  box-sizing: border-box;
  left: 80px;
  border: none;
  position: inherit;
  background-color: #282828;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.fa-download-alt {
  border: none;
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  background-image: url("../icons/download-button.png");
  background-repeat: no-repeat;
  background-color: none;
  background-size: contain;
}

#page-name,
#page-name:visited {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
  font-weight: bold;
  text-decoration: none;
  color: #2196f3;
}
#change-password-btn {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

#change-password-btn:hover {
  background-color: #1976d2;
}

#logout-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#logout-btn:hover {
  background-color: #c82333;
}

#password-change-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#password-change-modal-content {
  width: 30%;
  background-color: #282828;
  border: 1px solid #535353;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#password-change-modal h2 {
  margin-top: 0px;
  color: #2196f3;
  padding: 10px;
}

#password-change-modal input[type="password"] {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font-size: 16px;
  display: block;
}

#password-change-modal label {
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 10px auto;
  max-width: 75%;
  text-align: left;
}

#password-change-modal input[type="submit"] {
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

#password-change-modal input[type="submit"]:hover {
  background-color: #1976d2;
}

.close {
  background-color: #282828;
  padding: 10px;
  border: none;
  right: 10px;
  font-size: 1.5rem;
  color: #dc3545;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.close:hover {
  color: #c82333;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
  color: #2196f3;
  margin-bottom: 20px;
}

form {
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #fff;
}

input[type="text"] {
  width: 200px;
  padding: 0.5rem;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

input[type="submit"] {
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #1976d2;
}

#success-popup,
#error-popup {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  z-index: 9999;
}

#success-popup {
  background-color: #28a745;
  color: #fff;
}

#error-popup {
  background-color: #dc3545;
  color: #fff;
}

#password-change-modal-content input[type="password"],
#password-change-modal-content input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  color: #2196f3;
  margin-bottom: 20px;
}

#timezone {
  width: 200px;
  padding: 0.5rem;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

#timezone-label {
  padding-top: 10px;
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #fff;
}

#refresh-btn {
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

#refresh-btn:hover {
  background-color: #1976d2;
}

#version {
  position: absolute;
  bottom: 10px;
  color: #fff;
  font-size: 16px;
}

#update, #update:visited {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  0% {color:red;}
  25% {color: orange;}
  50% {color: yellow;}
  75% {color: orange;}
  100% {color: red;}
}

#cleanup-log-modal, #php-log-modal {
  display: none;
  width: 80%;
  height: 60%;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

#cleanup-log-modal-content, #php-log-modal-content {
  background-color: #282828;
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 1px solid #535353;
  transform: translate(-0%, -0%);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#phpModal-btn, #cleanupModal-btn {
  width: 200px;
  left: 20px;
  background-color: #dc3545;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#phpModal-btn:hover, #cleanupModal-btn:hover {
  background-color: #c82333;
}

#phpModal-btn {
  position: absolute;
  bottom: 110px;
}

#cleanupModal-btn {
  position: absolute;
  bottom: 55px;
}

#cleanup-log-content, #php-log-content {
  padding: 10px;
  height: 85%;
  position: relative;
  background-color: #535353;
  color: #fff;
  overflow-y: scroll;
  max-height: 85%;
}

#php-log-modal h2, #cleanup-log-modal h2 {
  margin-top: 0px;
  color: #2196f3;
  padding: 10px;
}