body {
  background-color: #282828;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#top-bar {
  background-color: #121212;
  color: #2196f3;
  display: flex;
  align-items: center;
  padding: 10px;
  max-height: 50px;
}

#page-name {
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

#login-button, #login-button:visited {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #2196f3;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

#login-button:hover {
  text-decoration: underline;
}

#file-upload-form {
  background-color: #121212;
  color: #2196f3;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

#drop-area {
  background-color: #282828;
  border: 2px dashed #2196f3;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin: 20px 0;
  padding: 20px;
  transition: background-color 0.3s;
}

#drop-area:hover {
  background-color: #1976d2;
}

#link-popup {
  border: 1px solid #282828;
  width: 25%;
  background-color: #121212;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#link-popup h2 {
  margin: 0 0 10px 0;
  color: #2196f3;
}

#link {
  display: block;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 100%;
}

#link:focus {
  outline: none;
}

#copy-link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

#copy-link-button:hover {
  background-color: #1976d2;
}

.fa-clipboard {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../icons/copy.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.fa-check {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../icons/checkmark.png");
  background-size: contain;
  margin-right: 5px;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#upload-button {
  background-color: #2196f3;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

#upload-button:hover {
  background-color: #1976d2;
}

#error-popup {
  border: 1px solid #282828;
  width: 25%;
  background-color: #121212;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#error-popup h2 {
  margin: 0 0 10px 0;
  color: #2196f3;
}

#error {
  display: block;
  color: #fff;
  background-color: #121212;
  border-style: hidden;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 100%;
}

.close {
  padding-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  color: #dc3545;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #c82333;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: #2196f3;
  margin-bottom: 20px;
}
