# Enable the necessary modules
# LoadModule rewrite_module modules/mod_rewrite.so

# Set the maximum execution time for the script (adjust as needed)
php_value max_execution_time 300

# Redirect all requests to index.php
# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^([^\.]+)/?$ $1.php [L]
